<head>
  <link rel='stylesheet' href='../bowling_card.css'>
</head>
<body> 
  <div id = 'card'>
    <div id='turn' ></div>
    <div id='1' class='turn'>
      <p>1</p>
      <input type='text' id='turn1-1' style='width: 30px;' maxlength='2'>
      <input type='text' id='turn1-2' style='width: 30px;' maxlength='2'>
      <br>
      <div id='score1'>-</div>
    </div>
    <div id='2' class='turn'>
      <p>2</p>
      <input type='text' id='turn2-1' style='width: 30px;' maxlength='2' readonly>
      <input type='text' id='turn2-2' style='width: 30px;' maxlength='2' readonly>
      <br>
      <div id='score2'>-</div>
    </div>
    <div id='3' class='turn'>
      <p>3</p>
      <input type='text' id='turn3-1' style='width: 30px;' maxlength='2' readonly>
      <input type='text' id='turn3-2' style='width: 30px;' maxlength='2' readonly>
      <br>
      <div id='score3'>-</div>
    </div>
    <div id='4' class='turn'>
      <p>4</p>
      <input type='text' id='turn4-1' style='width: 30px;' maxlength='2' readonly>
      <input type='text' id='turn4-2' style='width: 30px;' maxlength='2' readonly>
      <br>
      <div id='score4'>-</div>
    </div>
    <div id='5' class='turn'>
      <p>5</p>
      <input type='text' id='turn5-1' style='width: 30px;' maxlength='2' readonly>
      <input type='text' id='turn5-2' style='width: 30px;' maxlength='2' readonly>
      <br>
      <div id='score5'>-</div>
    </div>
    <div id='6' class='turn'>
      <p>6</p>
      <input type='text' id='turn6-1' style='width: 30px;' maxlength='2' readonly>
      <input type='text' id='turn6-2' style='width: 30px;' maxlength='2' readonly>
      <br>
      <div id='score6'>-</div>
    </div>
    <div id='7' class='turn'>
      <p>7</p>
      <input type='text' id='turn7-1' style='width: 30px;' maxlength='2' readonly>
      <input type='text' id='turn7-2' style='width: 30px;' maxlength='2' readonly>
      <br>
      <div id='score7'>-</div>
    </div>
    <div id='8' class='turn'>
      <p>8</p>
      <input type='text' id='turn8-1' style='width: 30px;' maxlength='2' readonly>
      <input type='text' id='turn8-2' style='width: 30px;' maxlength='2' readonly>
      <br>
      <div id='score8'>-</div>
    </div>
    <div id='9' class='turn'>
      <p>9</p>
      <input type='text' id='turn9-1' style='width: 30px;' maxlength='2' readonly>
      <input type='text' id='turn9-2' style='width: 30px;' maxlength='2' readonly>
      <br>
      <div id='score9'>-</div>
    </div>
    <div id='10' class='turn'>
      <p>10</p>
      <input type='text' id='turn10-1' style='width: 30px;' maxlength='2' readonly>
      <input type='text' id='turn10-2' style='width: 30px;' maxlength='2' readonly>
      <br>
      <div id='score10'>-</div>
    </div>
    <div id='11' class='turn' style='visibility: hidden;'>
      <p>Bonus</p>
      <input type='text' id='turn11-1' value = '0' maxlength='2' style='width: 30px;' readonly>
      <input type='text' id='turn11-2' value = '0' maxlength='2' style='width: 30px; visibility: hidden;' readonly>
      <br>
      <div id='score11'>-</div>
    </div>
    <br>
    <br>
    <button id='submit_turn'>Submit Turn</button>   
  </div>  
  <br>
  <div id='strike_animation' style='visibility: hidden;'>
    <div id='ball'></div>
    <div class='pin' id="pin1" style='top: -7.5px; left: 300px;'></div>

    <div class='pin' id="pin2" style='top: -15px; left: 300px;'></div>
    <div class='pin' id="pin3" style='top: 0px; left: 286.175px;'></div>

    <div class='pin' id="pin4" style='top: -7.5px; left: 286.125px;'></div>
    <div class='pin' id="pin5" style='top: -22.5px; left: 272.35px;'></div>
    <div class='pin' id="pin6" style='top: 7.5px; left: 258.375px;'></div>

    <div class='pin' id="pin7" style='top: -15px; left: 258.525px;'></div>
    <div class='pin' id="pin8" style='top: 0px; left: 244.55px;'></div>
    <div class='pin' id="pin9" style='top: -30px; left: 230.725px;'></div>
    <div class='pin' id="pin10" style='top: 15px; left: 216.9px;'></div>

    <div id='knocked1' style='visibility: hidden;'>
      <img src="../images/pin3.png" class='knocked' alt="pin" width="20" height="25" style='left: 325px; top: -30px; transform: rotateZ(20deg);'>
    </div>
    <div id='knocked2' style='visibility: hidden;'>
      <img src="../images/pin3.png" class='knocked' alt="pin" width="20" height="25" style='left: 340px; top: -70px; transform: rotateZ(35deg);'>
      <img src="../images/pin3.png" class='knocked' alt="pin" width="20" height="25" style='left: 315px; top: -40px; transform: rotateZ(155deg);'>
    </div>
    <div id='knocked3' style='visibility: hidden;'>
      <img src="../images/pin3.png" class='knocked' alt="pin" width="20" height="25" style='left: 355px; top: -105px; transform: rotateZ(35deg);'>
      <img src="../images/pin3.png" class='knocked' alt="pin" width="20" height="25" style='left: 335px; top: -85px; transform: rotateZ(90deg);'>
      <img src="../images/pin3.png" class='knocked' alt="pin" width="20" height="25" style='left: 305px; top: -60px; transform: rotateZ(145deg);'>
    </div>
    <div id='knocked4' style='visibility: hidden;'>
      <img src="../images/pin3.png" class='knocked' alt="pin" width="20" height="25" style='left: 375px; top: -135px; transform: rotateZ(90deg);'>
      <img src="../images/pin3.png" class='knocked' alt="pin" width="20" height="25" style='left: 350px; top: -120px; transform: rotateZ(55deg);'>
      <img src="../images/pin3.png" class='knocked' alt="pin" width="20" height="25" style='left: 325px; top: -105px; transform: rotateZ(110deg);'>
      <img src="../images/pin3.png" class='knocked' alt="pin" width="20" height="25" style='left: 300px; top: -90px; transform: rotateZ(90deg);'>
    </div>
  </div>

  <script type="text/javascript" src='../src/bowling_card.js'></script>
  <script type="text/javascript" src='../src/interface.js'></script>
</body>